.course-item {
    display: flex;
    flex-direction: column;

    background-color: #EDD3C4;
    border-radius: 30px;

    margin-right: 75px;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 50px;
    
    width: 15%;
    height: 0;
    padding-top: 7.5%;
    padding-bottom: 7.5%;

    /* Place text in the vertical and horizontal middle of the container */
    align-items: center;
    justify-content: center;
    text-align: center;

    text-align: center;
    font-size: 1em;
}

.course-category-button {
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
}

.course-category-button:hover {
    background-color: #2F195F;
    color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
}

.course-name-text {
    font-size: 2em;
}