.about-parent {
    background-color: #8CA0D7;
    /* padding: 40px; */
    display: flex; 
    height: 100vh;
}

.left-menu {

}

.about-content {
    flex-grow: 1; /* grow to size of parent*/
    flex: 1;
    display: flex;
}

.about-content h1 {
    text-align: center;
}

.about-body {
    display: flex;
    flex-direction: row;
}

.about-text {
    padding: 50px 100px 0px 100px;
}

.about-text p {
    font-size: 2.25vh;
    line-height: 1.5;
}

.about-text h2 {
    font-size: 3vh;
}

.about-text h3 {
    font-size: 2.5vh;
}

.left-menu {

}

.welcome-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}