.about-parent {
    background-color: #8CA0D7;
    /* padding: 40px; */
}

.left-menu {

}

.about-content {
    flex-grow: 1;
    flex: 1;
    display: flex;
}

.about-content h1 {
    text-align: center;
}

.about-body {
    display: flex;
    flex-direction: row;
}

.about-text {
    padding: 10%;
}

.left-menu {

}

.welcome-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}