.main-parent {
    background-color: #8CA0D7;

    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-header-text {
    align-self: center;
}

.courses {
    display: flex;

    justify-content:space-evenly;
    flex-wrap: wrap;
    text-align: center;
}