.subcourses-parent {
    background-color: #8CA0D7;

    width: 100%;
    height: 120%;
}

.subcourses-content {
    display: flex;
    flex-direction: column;
}

.subcourses-header-text {
    align-self: center;
}

.subcourses {
    margin-left: 10%;
    margin-right: 10%;
}