.welcome-parent {
    display: flex;
    flex-grow: 1;
}

.welcome-left-content {
    flex: 2;
    background-color: #EBEBEB;
    /* padding: 20px; */
    padding-left: 35px;
}

.welcome-left-content h1 {
    font-size: 40px;
}

.welcome-right-content {
    flex: 5;
    /* margin-left: 5%; */
    /* margin-top: 2%; */

    align-items: 'center';
}

.body-text {
    align-items: flex-start;
    padding: 15px;
}

.body-text h1 {
    font-weight: 200;
}